* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection{
  background-color: #f5a6ba;
  color: #fff;
}

/*NAVIGATION BAR*/
nav {
  position: fixed;
  width: 100%;
  height: 75px;
  text-align: center;
  z-index: 999;
  transition: 0.5s ease-in-out background-color,
              0.5s ease-in-out box-shadow;
}

nav .navbar {
 justify-content: space-between;
}

.navbar .logo {
  text-decoration: none;
  cursor: default;
  padding: 25px 30px;
  text-align: center;
  transition: .5s ease-in-out;
}
.navbar .nav-links{
  display: inline-flex;
}
.nav-links li {
  list-style: none;
  padding: 25px 10px;
}
.nav-links li .mv{
  margin-left: 20px;
}
.nav-links li a {
  color: #f5a6ba;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 15px;
  padding: 7px 20px;
  border-radius: 50px;
  transition: all .4s ease-in-out;
}

.nav-links li a:hover {
  color: #FFFFFF;
  background: #f5a6ba;
}
.drop-menu li {
  list-style: none;
  padding: 2px 10px;
}
.nav-links .drop-menu li a{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding: 1px 10px;
  border-radius: 50px;
  transition: all .4s ease;
}

.nav-links .drop-menu li a:hover{
  color: #010101;
  background: #f5a6ba;
}

.nav-links .drop-menu{
  width: 120px;
  top: 60px;
  line-height: 30px;
  position: absolute;
  padding: 10px 0px;
  opacity: 0;
  visibility: hidden;
  background: #ffffffa1;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  margin-left: 20px;
}

.nav-links li:hover .drop-menu{
  opacity: 1;
  top: 80px;
  visibility: visible;
  transition: all .5s ease;
}

.drop-menu li a{
  display: block;
  padding: 0 0 0px 15px;
  font-weight: 400px;
  border-radius: 0px;
}

.active_nav {
  justify-content: space-between;
  background: linear-gradient(#32323265, #a3a3a358,#c3c3c383, #a3a3a358, #32323265);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transition: .5s ease-in-out;
}

.active_nav .logo {
   filter: saturate(0) brightness(0.6) contrast(1.6);
   text-decoration: none;
   cursor: default;
   padding: 25px 30px;
   text-align: center;
   transition: .5s ease-in-out;
}

.active_nav .nav-links li a {
  color: #000000;
  transition: .5s ease-in-out;
}

.active_nav .nav-links li a:hover{
  color: #FFFFFF;
  background: #f5a6ba;
  transition: .5s ease-in-out;
}
/*END OF NAVBAR*/
.musicplatforms{
  position: absolute;
  z-index: 10;
  bottom: 30%;
  right: 30px;
  justify-content: space-between;
}
.mlogo{
  padding: 10px;
  color: #f5a6ba;
  font-size: 30px;
  transition: 0.5s ease-in-out;
}

.mlogo:hover{
  padding: 10px;
  color: #ffffff;
}
/*BANNERS*/
.Banners {
  position: relative;
  height: 70vh;
}
.bannercontainers{
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.wrappersbanner{
  width: 100%;
  display: flex;
  animation: slides 40s infinite;
}
.bannerref{
  width: 100%;
}
.bannerimg{
  width: 1550px;
}

@keyframes slides{
  0% {transform: translateX(0);}
  25% {transform: translateX(0);}
  30% {transform: translateX(-100%);}
  50% {transform: translateX(-100%);}
  55% {transform: translateX(-200%);}
  75% {transform: translateX(-200%);}
  80% {transform: translateX(-300%);}
  100% {transform: translateX(-300%);}
}
/*END OF BANNERS*/

.mvbg{
  z-index: 0;
}

.container {
  position: absolute;
  top: 80%;
  height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial {
  position: absolute;
  max-width: 1300px;
  width: 100%;
  padding: 20px 0 30px 0;
  overflow: hidden;
}
.testimonial .slides {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}

.videotitle{
  position: absolute;
  top: 80%;
  padding-left: 50px;
  z-index: 2;
}


/* swiper button css */
.nav-btn::after,
.nav-btn::before {
  font-size: 40px;
  color: #ffffff;
  transition: 0.3s;
}

.nav-btn:hover::after,
.nav-btn:hover::before {
  color: #f5a6ba;
}
.swiper-pagination-bullet {
  background-color: #f5a6bac8;
}
.swiper-pagination-bullet-active {
  background-color: #f5bedb;
}
.viewall{
  position: absolute;
  top: 179vh;
  left: 45.6%;
}

.view_all{
  padding: 10px 35px;
  background-color: #f5a6ba45;
  border-radius: 20px;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}
.view_all:hover{
  background-color: #f5a6ba;
}

/*FOOTER*/
footer{
  text-align: center;
  margin-top: -7px;
  position: relative;
  z-index: 100;
  width: 100%;
  height: 17vh;
  background-color: #eaeaea;
}
.BL{
  position: relative;
  margin-top: 30px;
  padding-bottom: 5px;
}
footer p{
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  z-index: 7;
  color: #000000;
}

/*END OF FOOTER*/